
header {
  background-color: #f8f9fa;
  width: 100%;
}
header nav .nombre-tienda,
header nav .categorias {
  margin-left: 3%;
  color: #8cbb51;
  font-weight: bold;
  font-size: 100%;
  font-family: neuropol_x;
}
header nav .categorias {
  padding-left: 10px;
  margin-left: 0;
}


footer {
  height: 5hv;
  background-color: #f8f9fa;
}

h1,
h2,
h3 {

  color: #054756;
  text-align: center;
}

.logo {
  margin-left: 10%;
}

.container {
  margin: 0;
  width: auto;
}

.icon-header {
  width: 3vw;
  min-width: 35px;
  padding: 0 5px 5px 0;
}

.img-banner {
  width: 100vw;
}

.icon-category {
  background-color: #f8f9fa;
  padding: 2% 0%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.icon-category img {
  padding: 3px;
  width: 7vw;
  max-width: 80px;
}
.icon-category img:hover {
  transform: scale(1.2);
  border: solid 1px #054756;
  border-radius: 5px;
  padding: 5%;
}

.featured-carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.featured-carousel img {
  margin: 1vw;
  width: 20vw;
  border: transparent 2px;
}

.pagos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.pagos .pagos__img {
  width: 8%;
  max-width: 80px;
}

.aside-category {
  padding: 1vw;
  margin: 0 5% 0 5%;
  border: solid 1px #054756;
  border-radius: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form {
  color: #054756;
}

aside span {
  color: #054756;
  font-weight: bold;
}

article {
  padding: 10px;
}

